body{
    background-image: url(./shara\ desert.jpg);
    background-repeat: no-repeat;
    /* background-size: cover; */
}

h1{
    font-size: 80px;
}
.para{
    color: white;

}
button{
    border-radius: 20px;
    padding: 15px;
    width: 110px;
    font-weight: bold;
}

.card1{
    background-image: url(./pic-1.png);
    background-repeat: no-repeat;
    border-radius: 20px;
    text-align: center;
    width: 250px;
    height: 250px;
    color: white;
}
.card1:hover{
    transform: translateY(-4px);
    box-shadow: 5px 5px 5px gray;
}

.card2{
    background-image: url(./pic-2.png);
    background-repeat: no-repeat;
    border-radius: 20px;
    text-align: center;
    width: 250px;
    height: 250px;
    color: white;
}
.card2:hover{
    transform: translateY(-4px);
    box-shadow: 5px 5px 5px gray;
}
.card3{
    background-image: url(./pic-3.png);
    background-repeat: no-repeat;
    border-radius: 20px;
    text-align: center;
    width: 250px;
    height: 250px;
    color: white;
}
.card3:hover{
    transform: translateY(-4px);
    box-shadow: 5px 5px 5px gray;
}
.card4{
    background-image: url(./pic-4.png);
    background-repeat: no-repeat;
    border-radius: 20px;
    text-align: center;
    width: 250px;
    height: 250px;
    color: white;
}
.card4:hover{
    transform: translateY(-4px);
    box-shadow: 5px 5px 5px gray;
}

@media (min-width:700px) and (max-width:2999PX)
{
    .grid{
        display: grid;
        grid-template-columns: auto auto;
        position: absolute;
        right: 30px;
        top: 100px;
        grid-column: 20px;
        grid-row: 20px;

    }
    body{
        background-image: url(./shara\ desert.jpg);
        
    }
    .para{
        position: absolute;
        left: 0;
    
    }
    .logo{
        color: white;
        position: absolute;
        left: 20px;
        top: 30px;
    }
    .link{
        color: white;
        position: absolute;
        right: 30px;
        display: flex;
        list-style: none;
        text-align: center;
        top: 40px;
        grid-gap: 30px;

    }
    .para{
        position: absolute;
        top: 250px;
        left: 30px;
    }
    .grid{
        grid-gap: 20px;
    }
}

@media (min-width:00px) and (max-width:700PX)
{
    .grid{
        display: grid;
        grid-template-columns: auto;
        justify-content: center;
    }
    body{
        background-image: url(./shara\ desert.jpg);
        background-size: cover;
    }
    .logo{
        text-align: center;
    }
    .navbar{
        color: white;
        text-align: center;
        list-style: none;
    }
    .para{
        text-align: center;
    }
    .card1{
        width: 300px;
        margin: 20px;

    }
    .card2{
        width: 300px;
        margin: 20px;

    }
    .card3{
        width: 300px;
        margin: 20px;

    }
    .card4{
        width: 300px;
        margin: 20px;
    }
}



